 

<div class=" mt-5  text-center">
    <h1 class="mb-2">CONTACT SECTION</h1>
    <i _ngcontent-lcl-c6="" class="fa-solid m-2  position-relative fa-star"></i>
</div>

<div class="container-fluid  ">
    <div class="row ">
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <div class="text-center w-50   ">
                <div class="mb-3  ">
                    <label for="exampleFormControlInput1" class="  form-label"> </label>
                    <input type="text" class="border-0 border-bottom form-control " id="exampleFormControlInput1"
                        placeholder="userName ">
                </div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <div class="text-center w-50   ">
                <div class="mb-3  ">
                    <label for="exampleFormControlInput1" class="  form-label"> </label>
                    <input type="text" class="border-0 border-bottom form-control " id="exampleFormControlInput1"
                        placeholder="userAge ">
                </div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <div class="text-center w-50   ">
                <div class="mb-3  ">
                    <label for="exampleFormControlInput1" class="  form-label"> </label>
                    <input type="text" class="border-0 border-bottom form-control " id="exampleFormControlInput1"
                        placeholder="userEmail ">
                </div>
            </div>
        </div>
        <div class="col-md-12  d-flex justify-content-center align-items-center">
            <div class="text-center w-50   ">
                <div class="mb-3  ">
                    <label for="exampleFormControlInput1" class="  form-label"> </label>
                    <input type="text" class="border-0 border-bottom form-control " id="exampleFormControlInput1"
                        placeholder="userPassword ">

                        <button   class="btn contact-btn d-block text-white mt-4">send Massage</button>
                </div>
            </div>
          
        </div>
         
       

    </div>
    
   
   
</div>
