<!-- <p>home works!</p> -->

<div class="container-fluid home">

    <div class="row">
        <div class="col-md-12 text-center ">
            <div class="   text-center">
                <img class="w-25" src="../../assets/avataaars.svg" alt="">
            </div>

            <div class="text-center m-3 text-white">
                <h1 >START FRAMEWORK</h1>
               
                <i _ngcontent-lcl-c6="" class="fa-solid m-2 position-relative fa-star"></i>
                <p >Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </div>
    </div>
</div>