<div class=" container-fluid demo p-5   text-white">
    <div class="row">
        <div class="col-md-4 ">
            <div class="p-5 text-center">
                <h2>LOCATION</h2>
                <P>2215 John Daniel Drive</P>
                <p>Clark, MO 65243</p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="p-5">
                <h2>AROUND THE WEB</h2>


                <div class="   d-flex align-items-center justify-content-center">
                    <a class="me-2 text-white text-center border  border-white  rounded-circle p-2  "><i
                            class="fab fa-facebook"></i></a>

                    <a class=" me-2 text-white text-center border   border-white rounded-circle p-2"><i
                            class="fab fa-instagram"></i></a>

                    <a class=" me-2 text-white text-center border border-white rounded-circle p-2"><i
                            class="fab fa-twitter"></i></a>

                    <a class="me-2 text-white text-center border border-white rounded-circle p-2"><i
                            class="fab fa-linkedin"></i></a>

                </div>


            </div>

        </div>
        <div class="col-md-4 text-center">
            <div class="p-5">
                <h2>ABOUT FREELANCER</h2>
                <P>Freelance is a free to use, licensed Bootstrap theme created by Route</P>
            </div>
        </div>
    </div>
</div>
<div class="w-100 p-4 text-white text-center bg-dark">
    <p>Copyright © Your Website 2021</p>
</div>